* {
  margin: 0;
  padding: 0;
}

body {
	background-color: #fafafa;
	color: #151515;
}

#sortable {
	padding: 0;
	margin: 0;
	list-style-type: none;
	user-select: none;
}

#sortable li {
	width: 100px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-size: 14pt;
	font-weight: bold;
}

#task_wrapper {
	display: table;
	margin: 0 auto;
	margin-top: 150px;
	width: 1000px;
	text-align: center;
}

.stopwatch {
	position: fixed;
	top: 50px;
	right: 150px;
	font-size: 18pt;
	height: 100%;
	text-align: center;
}

#score_container{
	position: fixed;
	top: 50px;
	left: 150px;
	font-size: 18pt;
	height: 100%;
	text-align: center;
}

#sort_statement{
	display: table;
	margin: 0 auto;
	margin-top: 100px;
}

#main_form {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}

#btn_container {
	display: table;
	margin: 0 auto;
	margin-top: 50px;
}

#btn_container *{
	display: inline-block;
	vertical-align: middle;
}

#btn_container #btn_swap {
	margin-right: 20px;
}

#btn_container #btn_not_swap {
	margin-left: 20px;
}

#btn_set {
	width: 100%;
}

#form_wrapper{
	margin-top: 50px;
}

.selected_lower {
	background: #00FF00;
}

.selected_greater {
	background: #FF4433;
}

.container{
	width: 500px;
}

#link_config{
	display: table;
	margin: 0 auto;
	margin-top: 50px;
}

#progressBar {
	width: 150px;
	height: 150px;
}

#btn_swap, #btn_not_swap {
	width: 150px;
	height: 75px;
}

#instructions_table, #instructions_swap{
	display: table;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#instructions_swap #img_swap{
	margin-right: 100px;
}

#instructions_swap #img_dont_swap{
	margin-left: 100px;
}

#instructions_wrapper {
	display: table;
	margin: 0 auto;
	width: 80%;
}

#instructions_wrapper p {
	font-size: 14pt;
}